body{
	background-image: url(src/body.jpg);
	background-repeat: repeat;
}

.header{
	margin-bottom: 40px;
	width: 90%;
	min-width: 1000px;
	height: 70px;
	background: black;
	margin: auto;
	opacity: 0.95;

}

.menu-wrapper{
	width: 80%;
	margin: auto;

}

.menu{
	display: flex;
	justify-content: space-between;
}

.menu a{
	color: white;
	text-decoration: none;
	padding: 25px;
	
}

.menu li{
	
	margin-top: 25px;
	list-style-type: none;
	
}
.menu a:hover{
	background: red;
	height: 100%;
}

footer{
	
	color: white;
	background: black;
	width: 100%;
	margin-top: 30px;
}
.fon{
	background-image: url(src/fon.jpg);
	margin-top: 50px;
}


main{
	max-width: 1200px;
	width: 80%;
	min-width: 800px;
	
	
	margin: auto;
	opacity: 0.9;
	margin-top: 30px;
}

.news-wrapper{
	
	width: 90%;
	margin: auto;

}

.news-block{
	
	padding-top: 50px;
}

.cont-wrapper{	
	margin-left: 100px;
}

.project{
	padding-top: 30px;
	padding-bottom: 50px;
	width: 90%;
	margin:auto;
	margin-top: 50px;
}

img{
	margin-top: 30px;
	margin-bottom: 40px;
}

.about{
	padding-top: 30px;
	padding-bottom: 50px;
	width: 90%;
	margin:auto;
	
}